.SearchBar{
    display: flex;
}
.Bar{
    margin-top:1em;
    background-color: #703B09;
    width: 100%;
    height:3em;
    border-radius: 2em;
}
ul{
    list-style-type: none;
    margin: 10px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
}
.usersList{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    width: 100%;
}
h1{
    color:white;
}
.searchImage{
    display:flex;
    justify-content: center;
}
.searchImage > img{
    height:150px;
    width: 150px;
    border-radius: 20px;
    margin: 5px;
}
