.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}
.verticalLine{
    border-left: thick solid white;
}
.SubMenu{
    display: flex;
    flex-flow: row;
    border-left: 1px solid white;

}
@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
    .SubMenu{
        display: flex;
        flex-flow: column;
        border-left: 1px solid white;
    
    }
}